<!DOCTYPE HTML>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <title>Colin Jaffe's Personal Site</title>
  </head>

  <body>
    <div class="main-app">
      <header class="header">
        <h1>Colin Jaffe's Personal Site</h1>
      </header>

      <hr>

      <nav class="button-row">
        <button
          type="button"
          class="button"
          :class="projectsButtonClasses"
          @click="changeToProjectsView"
        >
          Projects
        </button>
        <button
          type="button"
          class="button"
          :class="technologiesButtonClasses"
          @click="changeToTechnologiesView"
        >
          Technologies
        </button>
        <button
          type="button"
          class="button"
          :class="hobbiesButtonClasses"
          @click="changeToHobbiesView"
        >
          Hobbies
        </button>
      </nav>

      <section class="row" v-if="section === 'hobbies'">
          <app-card
            v-for="(hobby, index) in hobbies"
            :key="index"
            :title="hobby.title"
            :copy="hobby.copy"
            :img-uri="hobby.imgUri"
            :link-uri="hobby.linkUri"
          >
          </app-card>
      </section>

      <section class="row" v-if="section === 'projects'">
          <app-card
            v-for="(project, index) in projects"
            :key="index"
            :title="project.title"
            :copy="project.copy"
            :img-uri="project.imgUri"
            :link-uri="project.linkUri"
          >
          </app-card>
      </section>

      <section class="row" v-if="section === 'technologies'">
          <app-card
            v-for="(technology, index) in technologies"
            :key="index"
            :title="technology.title"
            :copy="technology.copy"
            :img-uri="technology.imgUri"
            :link-uri="technology.linkUri"
            class="app-card"
          >
          </app-card>
      </section>

      <section class="contact">
        <div class="row">
          <h5>Get More Colin In Your Life</h5>
        </div>
        <div class="row">
          <app-card
            v-for="(contactType, index) in contactTypes"
            :key="index"
            :title="contactType.title"
            :copy="contactType.copy"
            :img-uri="contactType.imgUri"
            :link-uri="contactType.linkUri"
          >
          </app-card>
        </div>
      </section>
    </div>

    <footer class="jokes-app">
      <div class="row">
        <p class="joke">
          {{joke}}
        </p>
      </div>
      <div class="row">
        <p v-if="!jokeButtonClicked">
          {{jokeInitialPrompt}}
        </p>
        <p v-else>
          {{jokeSuccessivePrompt}}
        </p>
      </div>
      <div class="row">
          <button
            class="button joke-button"
            type="button"
            @click="getNewJoke"
          >
            {{jokeButtonText}}
          </button>
      </div>
    </footer>

    <template id="app-card-template">
      <div class="card box-shadow">
        <a
        :href="linkUri"
        target="_blank"
        class="card no-link-styles"
        >
          <h5>
            {{title}}
          </h5>
          <img :src="imgUri">
          <div class="card-body">
            <p>
              {{copy}}
            </p>
          </div>
        </a>
      </div>
    </template>

    <script src="./js/components/Card.js"></script>
    <script src="./js/mainApp/mainAppData.js"></script>
    <script src="./js/mainApp/mainAppComputed.js"></script>
    <script src="./js/mainApp/mainAppMethods.js"></script>
    <script src="./js/mainApp/mainApp.js"></script>
    <script src="./js/jokesApp/jokesAppData.js"></script>
    <script src="./js/jokesApp/jokesAppMethods.js"></script>
    <script src="./js/jokesApp/jokesApp.js"></script>
  </body>
</html>
