<!DOCTYPE HTML>
<html lang="en">
  
  <head>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

  </head>

  <body>
    <div class="app">
      <div class="row">
        <h1>Colin Jaffe's Personal Website</h1>
      </div>
      <hr>
      <div class="row">
        <button
          type="button"
          class="button"
          :class="projectsButtonClasses"
          @click="changeToProjectsView"
        >
          Projects
        </button>
        <button
          type="button"
          class="button"
          :class="technologiesButtonClasses"
          @click="changeToTechnologiesView"
        >
          Technologies
        </button>
        <button
          type="button"
          class="button"
          :class="hobbiesButtonClasses"
          @click="changeToHobbiesView"
        >
          Hobbies
        </button>
      </div>
      <!-- <hr> -->
      <!-- <div class="row">
        <h3>{{sectionTitle}}</h3>
      </div> -->
      <div class="row" v-if="section === 'hobbies'">
        <app-card
          v-for="(hobby, index) in hobbies"
          :key="index"
          :title="hobby.title"
          :copy="hobby.copy"
          :img-uri="hobby.imgUri"
          :link-uri="hobby.linkUri"
        >
        </app-card>
      </div>
      <div class="row" v-if="section === 'projects'">
        <app-card
          v-for="(project, index) in projects"
          :key="index"
          :title="project.title"
          :copy="project.copy"
          :img-uri="project.imgUri"
          :link-uri="project.linkUri"
        >
        </app-card>
      </div>
      <div class="row" v-if="section === 'technologies'">
        <app-card
          v-for="(technology, index) in technologies"
          :key="index"
          :title="technology.title"
          :copy="technology.copy"
          :img-uri="technology.imgUri"
          :link-uri="technology.linkUri"
          class="app-card"
        >
        </app-card>
      </div>
      <!-- <hr> -->
      <div class="contact">
        <div class="row">
          <h5>Get More Colin In Your Life</h5>
        </div>
        <div class="row">
          <app-card
            v-for="(contactMethod, index) in contactMethods"
            :key="index"
            :title="contactMethod.title"
            :copy="contactMethod.copy"
            :img-uri="contactMethod.imgUri"
            :link-uri="contactMethod.linkUri"
          >
          </app-card>
      </div>

      </div>
    <!-- <hr> -->
    <div class="row">
      <p class="joke">
        {{joke}}
      </p>
    </div>
    <div class="row">
        <p v-if="jokeButtonClicked">
          {{jokeSuccessivePrompt}}
        </p>
        <p v-else>
          {{jokeInitialPrompt}}
        </p>
      </div>
      <div class="row">
          <button
            class="button"
            type="button"
            @click="getNewJoke"
          >
            {{jokeButtonText}}
          </button>
      </div>
    </div>

    <template id="app-card-template">
      <div class="card mb-4 box-shadow col-md-4 app-card-template">
        <a :href="linkUri" target="_blank" class="no-link-styles card">
          <div class="card-img-top">
            <img :src="imgUri">
          </div>
          <div class="card-body">
            <h5>{{title}}</h5>
            <p class="card-text">
              {{copy}}
            </p>
          </div>
        </a>
      </div>
    </template>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

    <script src="./js/appData.js"></script>
    <script src="./js/appComputed.js"></script>
    <script src="./js/appMethods.js"></script>
    <script src="./js/Card.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>
