.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.no-link-styles, .no-link-styles:hover {
  color: black;
  text-decoration: none;
}

.nav-button {
  margin: 10px;
}

.app-card-template {
  padding: 10px;
}
